* {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    justify-content: center;

    #beerList {
        display: flex;
        flex-wrap: wrap;
        max-width: 1266px;

        @media (max-width: 1290px) {
            max-width: 845px;
        }
        @media (max-width: 860px) {
            max-width: 420px;
        }
        .beer {
            position: relative;
            width: 400px;
            border: 1px black solid;
            padding: 5px;
            margin: 5px;
            .id {
                position: absolute;
                left: 20px;
                top: 20px;
            }
            .close {
                position: absolute;
                right: 20px;
                top: 20px;
                border: 0;
                cursor: pointer;

                :hover {
                    color: rgb(60, 60, 60);
                }
            }
            .edit {
                margin: 5px;
                padding: 5px 10px;
                float: right;
            }
            .name {
                margin: 10px 0;
            }
            .image {
                display: flex;
                justify-content: center;
                img {
                    height: 300px;
                }
            }
            .description {
                margin: 10px 0;
            }
        }
    }
}

.next__wrap {
    display: flex;
    justify-content: center;
    margin: 10px 0;

    .next {
        padding: 5px 10px;
    }
}
