* {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    justify-content: center;

    #beerList {
        display: flex;
        flex-wrap: wrap;
        max-width: 1266px;

        @media (max-width: 1290px) {
            max-width: 845px;
        }
        @media (max-width: 860px) {
            max-width: 420px;
        }
        .beer {
            position: relative;
            width: 400px;
            border: 1px black solid;
            padding: 5px;
            margin: 5px;
            .id {
                position: absolute;
                left: 20px;
                top: 20px;
            }
            .close {
                position: absolute;
                right: 20px;
                top: 20px;
                border: 0;
                cursor: pointer;

                :hover {
                    color: rgb(60, 60, 60);
                }
            }
            .edit {
                margin: 5px;
                padding: 5px 10px;
                float: right;
                cursor: pointer;
            }
            .name {
                margin: 10px 0;
            }
            .image {
                display: flex;
                justify-content: center;
                img {
                    height: 300px;
                }
            }
            .description {
                margin: 10px 0;
            }
        }
    }
}

.next__wrap {
    display: flex;
    justify-content: center;
    margin: 10px 0;

    .next {
        padding: 5px 10px;
    }
}


.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: content-box;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: white;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 500px;
    height: 500px;

    .textarea_name {
        font-size: 16px;
        width: 400px;
        height: 50px;
        padding: 3px;
        resize: none;
        margin-bottom: 10px;
    }
    .textarea_description {
        font-size: 16px;
        width: 400px;
        padding: 3px;
        height: 300px;
        resize: none;
    }
    .applyEdit {
        padding: 5px 10px;
        margin: 10px;
    }
}
